header {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 700px;
}

.todo-item {
  display: flex;
  flex-direction: row;
  width: 600px;
  gap: 20px;
}
